.name {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.friends_box {
  max-width: 15vw;
  padding: 1rem;
  border: 0.3rem double black;
  border-radius: 0.5rem;
}

.friends_actions {
  display: flex;
}

.check_input {
}
